<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">


    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.teslenko.currcomp.controllers.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.teslenko.currcomp.controllers.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArbitrageServlet</servlet-name>
        <servlet-class>com.teslenko.currcomp.controllers.ArbitrageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatesServlet</servlet-name>
        <servlet-class>com.teslenko.currcomp.controllers.RatesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArbitrageServlet</servlet-name>
        <url-pattern>/arbitrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatesServlet</servlet-name>
        <url-pattern>/rates</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

</web-app>
